<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Website</title>
  </head>
  <body>
    {{> header}}
    <p>Info about the website will be displayed on this page</p>

    {{> footer}}
  </body>
</html>
