<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Website</title>
  </head>
  <body>
    {{> header}}
    <!-- call a helper function onto a rendering by first calling the function,  -->
    <!-- followed by a space, then the rendering -->
    <p>Projects Portfolio</p>

    {{> footer}}
  </body>
</html>
